<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>angular试验-域名注册查看</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="http://v3.bootcss.com/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="angular.js"></script>

<style>
    *{ margin:0;padding: 0; }
    .box{ padding:15px;height: 100px;background: #aaa;border:2px dotted red;position: fixed;bottom: 0;right: 5px;font-size: 14px }
    .textbox{ resize:none; }
    .box1{ position: fixed;bottom: 120px;right: 5px;font-size: 14px }
    .box button{ font-size: 14px }
    .p1{ line-height: 20px }
    th,td{ padding-left: 15px }
</style>
</head>
<body ng-app="app" ng-controller="domain">
<div class="container">
    <table cellspadding="0" cellspacing="0" border="1" width="100%" align="center">
        <thead>
            <tr>
                <th>编号</th><th>类型</th> <th>域名</th> <th>状态</th> <th>链接</th> <th>时间</th> <th>耗时</th> <th>操作</th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="keys in array" ng-model="array">
                <td>{{$index+1}}</td>
                <td>{{keys.type}}</td>
                <td>{{keys.domain}}</td>
                <td ng-style="{'color':keys.color}">{{keys.status}}</td>
                <td><a ng-href="http://{{keys.link}}" target="_blank">点击访问</a></td>
                <td>{{keys.date}}</td>
                <td>{{keys.time}}ms</td>
                <td align="center"><a ng-click="array.splice($index,1)" href="javascript:void(0)">移除</a></td>
            </tr>
        </tbody>
    </table>

    <div class="box1">
        <p class="p1">请输入关键字:<br />例如:wo,ai,ni或者1,2,3,4,5,6 <br />注意:每个关键字要逗号分开!</p>
        <textarea name="" class="textbox form-control" ng-model="keyword"></textarea><br />
        域名位数:<input type="text" size="4" ng-model="length" class="form-control"><br />
    </div>

    <div class="box">
        <button ng-click="pause()" class="btn btn-danger">暂停</button>
        <button ng-click="run()" class="btn btn-primary">开始</button>
        <button ng-click="clear()" class="btn btn-warning">清除</button>
        <br />
        <br />
        选择域名类型:
        <select ng-model="selected" ng-change="domainType()" ng-options="keys for keys in domainArray"></select>
    </div>
</div>
<script type="text/javascript">
//angular.element(document).(function(){
    var app = angular.module("app",[]);

    app.controller("domain",function($scope,$interval,$http){
        $scope.type = "";
        $scope.domain = "";
        $scope.lastName = "com";
        $scope.status = "";
        $scope.link = "";
        $scope.date = "";
        $scope.color = "";
        $scope.array = [];
        $scope.speed = 30;
        $scope.domainArray = ["com","cn","net","org","com.cn","name","cc","co","gov.cn","info","mobi","so"];
        $scope.selected = $scope.domainArray[0];
        $scope.keyword = "1,2,3,4";
        $scope.length = 5;

        $scope.pause = function(){
            run.aa && $interval.cancel(run.aa);
        }
        $scope.run = function(){
            run();
        }
        $scope.domainType = function(){
            console.log(this.selected)
            $scope.lastName = this.selected;
        }
        $scope.clear = function(){
            $scope.array = [];
        }

        var speed= 1000,_isbusy = true,startTime,lastTime;

        function run(){
            arguments.callee.aa = $interval(function(){
                if(_isbusy){
                    _isbusy = false;
                    startTime = new Date().valueOf();
                    var keyword = $scope.keyword.split(",");
                    var val = "";
                    for(var i=0; i<$scope.length; i++){
                        val += keyword[Math.floor(Math.random()*keyword.length)];
                    }

                    $http({
                        method : "JSON",
                        url : "domain.php?domain="+val+"&type="+$scope.lastName
                    }).success(function(data,status){
                        lastTime = new Date().valueOf() - startTime;
                        $scope.array.push({
                            type : $scope.type = data[0],
                            domain : $scope.domain = data[1],
                            status : $scope.status = data[3],
                            link : $scope.link = data[1],
                            color : $scope.color = data[4],
                            date : new Date().getFullYear()+"-"+new Date().getMonth()+"-"+new Date().getDate(),
                            time : lastTime
                        });
                        _isbusy = true;
                    }).error(function(data,status){
                        _isbusy = false;
                        console.log("error:",status);
                    });
                }

            },speed);
        }
        run()
    });
//});
</script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>
